@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Playfair Display', serif;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: black;
}

.navbar {
  height: 50px;
  width: 100%;
}

.links {
  list-style: none;
  margin: 0;
  width: 200px;
}

.signupBlock {
  row-gap: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 20px;
}

.footerBtn {
  width: 400px;
  /* border: 1px solid rgb(124, 124, 124); */
  padding: 10px 0px;
  border-radius: 40px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.post {
  width: 500px;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 2px;
  margin: 5px;
}

.postContainer{
  height: calc(100vh - 90px);;
  overflow: auto;
}

.postContainer::-webkit-scrollbar{
  display: none;
}


.ant-modal-body {
  padding: 0px !important;
  word-wrap: break-word;
}
